<div class="row justify-content-md-center align-items-center h-100">
	<div class="card-wrapper">
		<div class="brand">
			<a href="/"><img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="logo"></a>
		</div>
		<div class="card fat">
			<div class="card-body">
				<h4 class="card-title">Forgot Password</h4>
				<form method="POST" action="/forgot-password" class="my-login-validation" novalidate="">
					<div class="form-group">
						<label for="email">E-Mail Address</label>
						<input id="email" type="email" class="form-control" name="email" value="{{oldInput.email}}" required autofocus>
						<input type="hidden" name="_csrf" value="{{csrfToken}}" >
						<div class="invalid-feedback">
							Email is invalid
						</div>
						<div class="form-text text-muted">
							By clicking "Reset Password" we will send a password reset link
						</div>
					</div>
					{{#if errorMessage}}
					<div class="alert alert-danger" role="alert">
						{{errorMessage}}
					</div>
					{{/if}}
					<div class="form-group m-0">
						<button type="submit" class="btn btn-primary btn-block">
							Reset Password
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="footer">
			Copyright &copy; 2021 &mdash; Your Company 
		</div>
	</div>
</div>