<main>
	<hr class="col-12 col-md-12 mb-5">
	<h1 class="text-body-emphasis">Get started with Bootstrap</h1>
	<p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this
		barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>

	<div class="mb-5">
		<a href="#" class="btn btn-primary btn-lg px-4">Download examples</a>
	</div>
</main>