<div class="row justify-content-md-center h-100">
	<div class="card-wrapper">
		<div class="brand">
			<a href="/"><img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="logo"></a>
		</div>
		<div class="card fat">
			<div class="card-body">
				<h4 class="card-title">Login</h4>
				<form action="/login" id="loginForm" method="POST" class="my-login-validation" novalidate="">
					<div class="form-group">
						<label for="inputEmail">E-Mail Address</label>
						<input id="inputEmail" type="email" class="form-control" name="inputEmail" value="{{oldInput.email}}" required autofocus>
						<div class="invalid-feedback">
							Email is invalid
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword">Password
							<a href="/forgot-password" class="float-right">
								Forgot Password?
							</a>
						</label>
						<input type="hidden" name="_csrf" value="{{csrfToken}}" >
						<input id="inputPassword" type="password" class="form-control" name="inputPassword" required data-eye>
					    <div class="invalid-feedback">
					    	Password is required
				    	</div>
					</div>

					<div class="form-group">
						<div class="custom-checkbox custom-control">
							<input type="checkbox" name="remember" id="remember" class="custom-control-input">
							<label for="remember" class="custom-control-label">Remember Me</label>
						</div>
					</div>
					{{#if errorMessage}}
					<div class="alert alert-danger" role="alert">
						{{errorMessage}}
					</div>
					{{/if}}
					<div class="form-group m-0">
						<button type="button" id="btnLoginSubmit" class="btn btn-primary btn-block">
							Login
						</button>
					</div>
					<div class="mt-4 text-center">
						Don't have an account? <a href="/sign-up">Create One</a>
					</div>
				</form>
			</div>
		</div>
		<div class="footer">
			Copyright &copy; 2021 &mdash; Your Company 
		</div>
	</div>
</div>